html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /*vertical-align:baseline;*/
  background: transparent;
  -webkit-box-sizing: border-box; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

textarea {
  resize: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #0476E6;
  outline: none; }

a:active {
  color: #f00; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/*
table {
    border-collapse:collapse;
    border-spacing:0;
}
*/
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

em {
  font-style: normal; }

figure {
  position: relative; }
  figure img {
    width: 100%; }

figcaption {
  background: #222;
  color: #fff;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 3px 5px; }

.icons.search, .icons.search.active, .icons.menu, .icons.menu.active, .userNum:after, .commentNum:after, .favNum:after, .playNum:after, .siteLogo, .ent:before, .life:before, .politics:before, .tech:before, .culture:before, .other:before, .icon.icon-top a:before, .icon.icon-live a:before, .icon.icon-channel a:before, .icon.icon-blomaga a:before, .icon.icon-book a:before, .icon.icon-news a:before {
  background-image: url("../img/sprite/sp_common.png");
  background-repeat: no-repeat;
  background-size: 255px 90px; }

.moreInfo:after, .infoIcon:after, .linkArrow:after, .categoryIcons:before, .icon a:before {
  content: "";
  display: block;
  position: absolute; }

.pageHeader:after, .newRegistBtns:after, .listWithImage li:after, .listWithImage .small:after, .categoryList:after, .wordList:after, .socialBtnList:after {
  content: "";
  display: block;
  clear: both; }

.icons, .siteLogo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block; }

.linkArrow:after {
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  -webkit-transform: rotateZ(-45deg);
  width: 5px;
  height: 5px;
  top: 50%;
  right: 10px;
  margin-top: -4px; }

.moreInfo:after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABmUExURQAAAA8sXw8sXhAsXw8sXg8tXhItXw8tXxAtXwssYw4qYxAtXxAsXw8sXg8sXxAsXhAtXhAtXxAsXhAsXg8tXg8sXg4rXQ8tXw8tXxAtXxAsXgAqVRAtXw8sXxAsXxErYA8tXhAtXxta29AAAAAhdFJOUwCglG5hxDjx/hcSu/z19N/9mPou9+VX4UOI7wbb9vsdd+bVCmgAAABlSURBVBjTbdDHDoAwDAPQUqAte+/p//9JJCQkwMnxHRLHSqlzUTy29QUEulFAIIwEROkJCGSBgEBhBIRLYkZg1wICcy9gPRE+W9+4NnQoDyhSqjn89/sbB0OFbNSodR6XXB1/uQD3JhNLrszUjgAAAABJRU5ErkJggg==);
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 5px;
  margin-top: -5px; }

.icons {
  cursor: pointer; }
  .icons.search {
    width: 25px;
    height: 25px;
    background-position: -90px -25px; }
    .icons.search.active {
      width: 25px;
      height: 25px;
      background-position: -30px -60px; }
  .icons.menu {
    width: 25px;
    height: 25px;
    background-position: -90px 0px; }
    .icons.menu.active {
      width: 25px;
      height: 25px;
      background-position: -55px -60px; }

.loginBtn, .registNormal, .registPremiam {
  display: inline-block;
  text-align: center;
  width: 99%;
  height: 35px;
  line-height: 35px;
  margin: 0px auto 12px;
  font-size: 16px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-radius: 4px; }
  .loginBtn a, .registNormal a, .registPremiam a {
    color: #fff; }

.loginBtn {
  margin-bottom: 10px;
  color: #fff;
  background: #498dca;
  border-color: #36668e; }

.registNormal {
  background: #f2bd15;
  border-color: #ae8a10;
  margin-right: 10px; }

.registPremiam {
  background: #c94d4b;
  border-color: #8c3837; }

.moreInfo {
  font-size: 12px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding: 0px 20px;
  border-bottom: 1px solid #222;
  position: relative;
  background: #ccc;
  text-align: right; }

.lineLink {
  display: inline-block;
  width: 100%;
  height: 100%; }

.infoIcon {
  position: relative;
  padding-left: 5px;
  margin: 0px 5px; }
  .infoIcon:after {
    top: 4px;
    left: -4px; }

.userNum:after {
  width: 4px;
  height: 5px;
  background-position: -247px -25px; }

.commentNum:after {
  width: 7px;
  height: 5px;
  background-position: -241px -30px; }

.favNum:after {
  width: 6px;
  height: 5px;
  background-position: -241px -25px;
  width: 5px; }

.playNum:after {
  width: 5px;
  height: 5px;
  background-position: -250px -25px; }

.contentHeader {
  background: #222;
  border-bottom: 1px solid #111;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-indent: 15px;
  font-weight: normal; }

.linkArrow {
  position: relative;
  min-height: 35px;
  line-height: 35px;
  padding-left: 5px; }

.textBox {
  display: table; }
  .textBox p {
    display: table-cell;
    vertical-align: middle; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.pageHeader {
  width: 100%;
  background: #222;
  position: relative;
  margin-bottom: 10px; }

.hdInner {
  padding: 10px; }

.siteLogo {
  width: 140px;
  height: 25px;
  background-position: -115px 0px;
  display: inline-block; }

.hdContent {
  display: none;
  padding: 10px;
  background: #d7d7d7; }
  .hdContent.active {
    display: block; }

.hdContentHeader {
  background: #767676;
  color: white;
  line-height: 30px;
  text-align: center; }

.pageHeadNavi {
  display: -webkit-box;
  float: right; }
  .pageHeadNavi .icons {
    margin: 0px 5px; }

.mainContent {
  width: 100%;
  margin: 0px auto; }

.sectionContentBox {
  overflow: hidden;
  margin-bottom: 5px; }

.hdContent .categoryList li {
  background: #fff;
  border: #ccc 1px solid; }
  .hdContent .categoryList li:nth-of-type(even) {
    border-left: #ccc 1px solid; }
.hdContent .categoryList .linkArrow {
  font-size: 10px;
  color: #333;
  text-decoration: underline; }

.categoryIcons {
  position: relative;
  -webkit-box-sizing: border-box; }
  .categoryIcons a {
    display: block; }
  .categoryIcons .linkArrow {
    padding: 0px; }
    .categoryIcons .linkArrow:after {
      right: 5px; }
  .categoryIcons:before {
    top: 0px;
    left: 5px; }

.categoryListBox {
  margin-bottom: 5px; }
  .categoryListBox .categoryIcons {
    padding-left: 40px; }
  .hdContent .categoryListBox {
    margin: 10px auto; }

.ent:before {
  width: 30px;
  height: 30px;
  background-position: -60px 0px; }

.life:before {
  width: 30px;
  height: 30px;
  background-position: -60px -30px; }

.politics:before {
  width: 30px;
  height: 30px;
  background-position: 0px -60px; }

.tech:before {
  width: 30px;
  height: 30px;
  background-position: -30px 0px; }

.culture:before {
  width: 30px;
  height: 30px;
  background-position: -30px -30px; }

.other:before {
  width: 30px;
  height: 30px;
  background-position: 0px 0px; }

.loginBtnBox {
  width: 90%;
  text-align: center;
  margin: 0px auto 10px; }

.newRegistBtns {
  display: block; }
  .newRegistBtns li {
    display: inline-block;
    margin: 0px 2px;
    width: 48%; }

.contentTabsList {
  display: -webkit-box;
  -webkit-box-pack: center;
  border-bottom: 1px solid #333; }

.contentTabsList .tabItem {
  width: 32%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 0px 3px;
  border: 1px solid #222;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
  cursor: pointer; }
  .contentTabsList .tabItem:first-child {
    margin: 0px; }
  .contentTabsList .tabItem:last-child {
    margin: 0px; }
  .contentTabsList .tabItem.selected {
    background: #222;
    color: #fff; }
.contentTabsList.twoTabs .tabItem {
  width: 49%; }
  .contentTabsList.twoTabs .tabItem:first-child {
    margin: 0 1px 0 3px; }
  .contentTabsList.twoTabs .tabItem:last-child {
    margin: 0 3px 0 1px; }

.tabContents {
  border-top: none; }

.tabContentWrapper {
  position: relative; }

.tabContents {
  top: 0px;
  left: 0px;
  display: none; }
  .tabContents.selected {
    display: block; }

.listWithImage {
  font-size: 12px; }
  .listWithImage a {
    color: #13346e;
    text-decoration: none; }
  .listWithImage p {
    width: 95%;
    line-height: 1.1em; }
  .listWithImage li {
    padding: 5px 0px;
    border-bottom: 1px solid #222;
    -webkit-box-sizing: border-box; }
  .listWithImage .small {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    float: left;
    width: 50%;
    padding: 0px 0px 0px 5px;
    border-bottom: 1px solid #222; }
    .listWithImage .small p {
      line-height: 35px; }
    .listWithImage .small:nth-of-type(odd) {
      border-left: 1px solid #222; }
    .listWithImage .small img {
      float: left;
      width: 17px;
      margin: 7px 5px 0px 0px; }

.timeHeader {
  color: #f00;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 5px; }
  .timeHeader time {
    color: #999;
    margin-right: 5px; }

.listImg {
  width: 24%;
  float: left;
  margin: 0px 5px; }

.actInfo {
  display: block; }

.rankingHeadText {
  color: #999;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 5px;
  position: relative; }

.rankingNum {
  position: absolute;
  top: 3px;
  right: -10px;
  color: #979797;
  font-size: 180%;
  font-weight: bold;
  text-shadow: 1px 1px 2px #ccc; }

.textList li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #222; }

.attentionBox {
  margin-bottom: 5px; }

.categoryList li, .wordList li {
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  float: left;
  width: 50%;
  padding-left: 5px;
  border-bottom: 1px solid #222; }
  .categoryList li:nth-of-type(even), .wordList li:nth-of-type(even) {
    border-left: 1px solid #222; }
.categoryList a, .wordList a {
  color: #13346e;
  text-decoration: none; }

.socialBtnList {
  margin-bottom: 10px; }
  .socialBtnList li {
    display: inline-block;
    width: 50%;
    float: left; }
  .socialBtnList img {
    width: 100%; }

.footerLinks {
  text-align: center;
  background: #222;
  padding: 10px 0px; }
  .footerLinks a {
    color: #a1c4e6; }
  .footerLinks li {
    display: inline-block;
    font-size: 12px; }
  .footerLinks p {
    font-size: 12px;
    margin-bottom: 10px; }

.inputForm {
  display: block;
  width: 100%;
  font-size: 16px;
  border: #999 solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  -webkit-appearance: none;
  margin-bottom: 8px; }
  .inputForm input[type=text] {
    display: inline-block;
    width: 100%;
    line-height: 20px;
    padding: 4px;
    border: 0;
    background: none;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }

.searchButton {
  display: inline-block;
  background: none;
  border: none;
  background-color: #ececec;
  border: #fff solid 2px;
  border-radius: 24px;
  color: #333;
  font-weight: bold;
  font-size: 13px;
  width: 48%;
  height: 30px;
  vertical-align: middle;
  -webkit-appearance: none; }
  .searchButton:first-child {
    margin-right: 10px; }

.contentSeparatorBottom {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: #999 solid 1px;
  box-shadow: #ccc 0 1px 0; }

.hdContentNav ul {
  border: #ccc solid 1px;
  border-bottom: 0; }
  .hdContentNav ul:after {
    content: "";
    clear: both;
    display: block; }
.hdContentNav .top {
  width: 100%;
  text-align: center;
  border-left: none; }
  .hdContentNav .top a:before {
    left: 65px; }
.hdContentNav li {
  width: 50%;
  float: left;
  height: 40px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  border-left: #ccc solid 1px;
  border-bottom: #ccc solid 1px; }
  .hdContentNav li:nth-child(2n) {
    border-left: none; }
  .hdContentNav li:last-child {
    border-left: #ccc solid 1px; }
  .hdContentNav li a {
    position: relative;
    display: inline-block;
    color: #333;
    width: 100%;
    line-height: 40px;
    padding-left: 6px;
    box-sizing: border-box;
    font-size: 14px; }

.footerCopy {
  color: #fff;
  margin: 10px 0px; }

.icon a {
  padding-left: 30px !important; }
.icon a:before {
  top: 8px;
  left: 4px; }
.icon.icon-top a:before {
  width: 20px;
  height: 19px;
  background-position: -115px -47px; }
.icon.icon-live a:before {
  width: 22px;
  height: 22px;
  background-position: -137px -25px; }
.icon.icon-channel a:before {
  width: 21px;
  height: 21px;
  background-position: -181px -25px; }
.icon.icon-blomaga a:before {
  width: 20px;
  height: 21px;
  background-position: -202px -25px; }
.icon.icon-book a:before {
  width: 21px;
  height: 14px;
  background-position: -135px -47px; }
.icon.icon-news a:before {
  width: 22px;
  height: 22px;
  background-position: -115px -25px; }

.adBox {
  margin: 10px 0px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222; }
  .adBox img {
    width: 100%;
    margin-bottom: -3px; }
