@import "_reset";
@import "sprite/_sp_common";

//commonとかは使ってないので他のページとの協調性0
//@import "_common";
//@import "_site_header";
//@import "_special_pickup";

%prePsedo {
    content: "";
    display: block;
    position: absolute;
}

%clearFix {
    content: "";
    display: block;
    clear: both;
}

%noText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

%arrowLink {
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    -webkit-transform: rotateZ(-45deg);
    width: 5px;
    height: 5px;
    top: 50%;
    right: 10px;
    margin-top: -4px;
}

%moreArrowLink {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABmUExURQAAAA8sXw8sXhAsXw8sXg8tXhItXw8tXxAtXwssYw4qYxAtXxAsXw8sXg8sXxAsXhAtXhAtXxAsXhAsXg8tXg8sXg4rXQ8tXw8tXxAtXxAsXgAqVRAtXw8sXxAsXxErYA8tXhAtXxta29AAAAAhdFJOUwCglG5hxDjx/hcSu/z19N/9mPou9+VX4UOI7wbb9vsdd+bVCmgAAABlSURBVBjTbdDHDoAwDAPQUqAte+/p//9JJCQkwMnxHRLHSqlzUTy29QUEulFAIIwEROkJCGSBgEBhBIRLYkZg1wICcy9gPRE+W9+4NnQoDyhSqjn89/sbB0OFbNSodR6XXB1/uQD3JhNLrszUjgAAAABJRU5ErkJggg==);
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 5px;
    margin-top: -5px;
}

//icons
.icons {
    @extend %noText;

    &.search {
        @include commonSearchOff;

        &.on {
            @include commonSearchOn;
        }
    }

    &.menu {
        @include commonMenuOff;

        &.on {
            @include commonMenuOn;
        }
    }
}



//btns
%btnSizeCommon {
    display: inline-block;
    text-align: center;
    width: 99%;
    height: 35px;
    line-height: 35px;
    margin: 0px auto 12px;
    font-size: 16px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-radius: 4px;

    a {
        color: #fff;
    }
}

.loginBtn {
    @extend %btnSizeCommon;
    margin-bottom: 10px;
    color: #fff;
    background: #498dca;
    border-color: #36668e;
}

.registNormal {
    @extend %btnSizeCommon;
    background: #f2bd15;
    border-color: #ae8a10;
    margin-right: 10px;
}

.registPremiam {
    @extend %btnSizeCommon;
    background: #c94d4b;
    border-color: #8c3837;
}

.moreInfo {
    font-size: 12px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0px 20px;
    border-bottom: 1px solid #222;
    position: relative;
    background: #ccc;
    text-align: right;

    &:last-child {
        border: none;
    }

    &:after {
        @extend %prePsedo;
        @extend %moreArrowLink;
    }

}

.lineLink {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.infoIcon {
    position: relative;
    padding-left: 5px;
    margin: 0px 5px;

    &:after {
        top: 4px;
        left: -4px;
        @extend %prePsedo;
    }
}


.userNum:after {
    @include actIconUser;
}

.commentNum:after {
    @include actIconComment;
}

.favNum:after {
    @include actIconFav;
    width: 5px;
}

.playNum:after {
    @include actIconPlay
}

//contentHeader
.contentHeader {
    background: #222;
    border-bottom: 1px solid #111;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-indent: 15px;
    font-weight: normal;
}


//linkarrow
.linkArrow {
    position: relative;
    min-height: 35px;
    line-height: 35px;
    padding-left: 5px;

    &:after {
        @extend %prePsedo;
        @extend %arrowLink;
    }
}


//wrapper
.wrapper {
    width: 100%;
    margin: 0 auto;
}


//pageheader
.pageHeader {
    width: 100%;
    background: #222;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;

    &:after {
        @extend %clearFix;
    }
}

.siteLogo {
    @extend %noText;
//    @extend %commonSprite;
//    width: 140px;
//    height: 23px;
    @include commonLogo;
    display: inline-block;
}

.pageHeadNavi {
    display: -webkit-box;
    float:right;

    .icons {
        margin: 0px 5px;
    }
}

//mainContent
.mainContent {
    width: 100%;
    margin: 0px auto;
}

.sectionContentBox {
    overflow: hidden;
    &.ranking,
    &.newsWord {
        border-bottom: 1px solid #222;
        margin-bottom: 5px;
    }
}

.categoryIcons {
    position: relative;
    -webkit-box-sizing: border-box;

    &:after {
        @extend %prePsedo;
        top: 0px;
        left: 5px;
    }
}

.categoryListBox {
    margin-bottom: 5px;

    .categoryIcons {
        padding-left: 40px;
    }
}

.ent:after {
    @include categoryEnt;
}

.life:after {
    @include categoryLife;
}

.politics:after {
    @include categoryPolitics;
}

.tech:after {
    @include categoryTech;
}

.culture:after {
    @include categoryCulture;
}

.other:after {
    @include categoryOther;
}


.loginBtnBox {
    width: 90%;
    text-align: center;
    margin: 0px auto 10px;
}

//新規登録
.newRegistBtns {
    display: block;


    &:after {
        @extend %clearFix;
    }
}


.newRegistBtns li{
    display: inline-block;
    margin: 0px auto;
    width: 48%;
}


//タブ
.contentTabsList {
    display: -webkit-box;
    -webkit-box-pack: center;
    border-bottom: 1px solid #333;
}

.contentTabsList {
    .tabItem {
        width: 32%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        margin: 0px 3px;
        border: 1px solid #222;
        border-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
        cursor: pointer;

        &:first-child {
            margin: 0px;
        }

        &:last-child {
            margin: 0px;
        }

        &.selected {
            background: #222;
            color: #fff;
        }
    }

    &.twoTabs .tabItem {
        width: 49%;

        &:first-child {
            margin: 0 1px 0 3px;
        }

        &:last-child {
            margin: 0 3px 0 1px;
        }
    }
}

//tabcontent
.tabContents {
    border-top: none;
}

.tabContentWrapper {
    position: relative;
}

.tabContents {
    top: 0px;
    left: 0px;
    display: none;

    &.selected {
        display: block;
    }
}

.listWithImage {
    font-size: 12px;

    a {
        color: #13346e;
        text-decoration: none;
    }

    p {
        width: 95%;
        line-height: 1.1em;
    }

    li {
        padding: 5px 0px;
        border-bottom: 1px solid #222;
        -webkit-box-sizing: border-box;

        &:after {
            @extend %clearFix;
        }
    }

    .small {
        height: 35px;
        line-height: 35px;
        font-size: 12px;
        float: left;
        width: 50%;
        padding: 0px 0px 0px 5px;
        border-bottom: 1px solid #222;
        p {
            line-height: 35px;
        }

        &:nth-of-type(even){
            border-right: 1px solid #222
        }

        &:after {
            @extend %clearFix;
        }

        img {
            float: left;
            width: 17px;
            margin: 7px 5px 0px 0px;
        }
    }
}

.timeHeader {
    color: #f00;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 5px;

    time {
        color: #999;
        margin-right: 5px;
    }
}

.listImg {
    width: 24%;
    float: left;
    margin: 0px 5px;
}

.actInfo {
    display: block;
}

.rankingHeadText {
    color: #999;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 5px;
    position: relative;
}

.rankingNum {
    position: absolute;
    top: 3px;
    right: -10px;
    color: #979797;
    font-size: 180%;
    font-weight: bold;
    text-shadow: 1px 1px 2px #ccc;
}

.textList li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #222;
}

.categoryList,
.wordList {

    li {
        height: 35px;
        line-height: 35px;
        font-size: 12px;
        float: left;
        width: 50%;
        padding-left: 5px;
        border-bottom: 1px solid #222;

        &:nth-of-type(even){
            border-left: 1px solid #222
        }
    }

    a {
        color: #13346e;
        text-decoration: none;
    }

    &:after {
        @extend %clearFix;
    }
}

.footerLinks {
    text-align: center;
    background: #222;
    padding: 10px 0px;

    a {
        color: #a1c4e6;
    }

    li {
        display: inline-block;
        font-size: 12px;
    }

    p {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.footerCopy {
    color: #fff;
    margin: 10px 0px;
}
