%_sp_category {
   background-image: url("../img/sprite/sp_category.png");
   background-repeat: no-repeat;
   background-size: 90px 90px;
}

@mixin categoryAll {
    @extend %_sp_category;
    width: 30px;
    height: 30px;
    background-position: 0px 0px;
}
@mixin categoryCulture {
    @extend %_sp_category;
    width: 30px;
    height: 30px;
    background-position: -30px 0px;
}
@mixin categoryEnt {
    @extend %_sp_category;
    width: 30px;
    height: 30px;
    background-position: 0px -30px;
}
@mixin categoryLife {
    @extend %_sp_category;
    width: 30px;
    height: 30px;
    background-position: -30px -30px;
}
@mixin categoryOther {
    @extend %_sp_category;
    width: 30px;
    height: 30px;
    background-position: -60px 0px;
}
@mixin categoryPolitics {
    @extend %_sp_category;
    width: 30px;
    height: 30px;
    background-position: -60px -30px;
}
@mixin categoryTech {
    @extend %_sp_category;
    width: 30px;
    height: 30px;
    background-position: 0px -60px;
}
